<template>
	<div class="container" style="min-height: calc( 100vh - 122px ); margin-top: 50px">
		<div class="row">
			<div class="col-xs-12">
				<p class="block-header_text">Создание проекта</p>
			</div>
		</div>
		<div class="row">
			<form action="" class="createProject">
				<p v-show="error" class="error">Все поля обязательны для заполнения !</p>
				<p v-show="submitted" class="success">Проект успешно добавлен !</p>
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<label class="text-right" for="">Заголовок проекта</label>
					</div>
					<div class="col-xs-12 col-sm-9 m-b-20">
						<textarea maxlength="200" name="" id="" rows="5" v-model="project.title" v-on:focus="error=false, submitted=false"></textarea>
						<span>{{project.title.length}} / 200</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<label class="text-right" for="">Описание проекта</label>
					</div>
					<div class="col-xs-12 col-sm-9 m-b-20">
						<textarea maxlength="600" name="" id="" rows="5" v-model="project.content" v-on:focus="error=false, submitted=false"></textarea>
						<span>{{project.content.length}} / 600</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<label class="text-right" for="">Категория</label>
					</div>
					<div class="col-xs-12 col-sm-9 m-b-20">
						<div id="checkboxes">
					        <input type="radio" value="automatization" v-model="project.categories" v-on:focus="error=false, submitted=false">
					        <label for="">Автоматизация государственных и регламентированных закупок</label><br>
					        <input type="radio" value="cooperation" v-model="project.categories" v-on:focus="error=false, submitted=false">
					        <label for="">Проектный офис в сфере развития научно-производственной кооперации</label><br>
					        <input type="radio" value="monitoring" v-model="project.categories" v-on:focus="error=false, submitted=false">
					        <label for="">Мониторинг научных и научно-технических проектов</label>
					    </div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<label class="text-right" for="">Изображение</label>
					</div>
					<div class="col-xs-12 col-sm-9">
						<input type="file" id="bottomInp2" v-on:change="addImgProject" v-on:focus="error=false, submitted=false"><br>
						<img src="" id="bottomImg2" alt="" v-model="project.image">
					</div>
				</div>
				<div class="row m-b-20">
					<center><button class="custom-button" v-on:click.prevent="postProject">Добавить проект</button></center>
				</div>
			</form>
		</div>
	</div>
</template>

<script>

export default{
	data () {
		return {
			project:{
				title: '',
				content: '',
				image: '',
				categories: ''
			},
			error: false,
			submitted: false
		}
	},
	mounted(){
		if (JSON.parse(sessionStorage.getItem('login')) && JSON.parse(sessionStorage.getItem('login')).user == 'admin') {
			
		}else{
			this.$router.push({ path: '/login'});
		}
	},
	methods: {
		addImgProject: function(){
			var element = document.getElementById("bottomInp2");
			var file = element.files[0];
			var reader = new FileReader();
			reader.onloadend = function() {
			  document.getElementById("bottomImg2").src = reader.result;
			}
			reader.readAsDataURL(file);
		},
		postProject: function(){
			this.project.image = document.getElementById("bottomImg2").getAttribute("src");
			if (this.project.title === '' || this.project.content === '' || this.project.categories === '' || this.project.image === '') {
				this.error = true;
			}
			else{
				this.$http.post('https://vektor-k.firebaseio.com/projects.json', this.project).then(function(data){
					this.project = {
						title: '',
						content: '',
						image: '',
						categories: ''
					};
					document.getElementById("bottomImg2").setAttribute("src", "");
					this.submitted = true;
				});
			}
		}
	}
}
</script>

<style scoped>
	.custom-table{
		border-collapse: collapse;
		width: 100%;
	}
	.custom-table > thead > tr > th{
		border: 1px solid #b6b6b6;
		border-bottom-width: 2px;
		padding: 5px 10px;
	}
	.custom-table > tbody > tr > td{
		border: 1px solid #b6b6b6;
		padding: 5px 10px;
	}
	.custom-table > tbody > tr > td > a{
		color: #333;
		text-decoration: none;
	}
	.action-btn{
		border-radius: 50%;
		padding: 5px;
		border: 1px solid #b6b6b6; 
		cursor: pointer;
		outline: none;
	}
	.action-btn:hover{
		background-color: #f2f2f2;
	}
	.m-b-20{
		margin-bottom: 20px;
	}
	textarea{
		width: inherit;
		resize: vertical;
		padding: 5px 12px;
		font-size: 14px;
	    font-family: "Montserrat", sans-serif;
	    width: 100%;
	}
	.news-content{
		min-height: 200px;
		border: 1px solid rgb(169, 169, 169);
		padding: 5px 12px;
		font-size: 14px;
		margin-top: 15px;
	}
	.controls{
		display: flex;
		position: absolute;
		top: 0;
		right: 0;
	}
	.button{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;
		background-color: #eee;
		margin-right: 5px;
		border: 1px solid #aaa;
		border-radius: 3px;
		cursor: pointer;
	}
	img{
		max-width: 100%;
	}
	.custom-button{
		background: #fff;
		color: #349bae;
	    padding: 15px 30px;
		border-radius: 2px;
	    border: 1px solid #349bae;
		text-transform: uppercase;  
	    outline: none;
	    cursor: pointer;
	    margin-top: 25px;
	}
	.custom-button:hover{
		background: #349bae;
		color: #fff;
		border-color: #349bae;
	}
	#checkboxes input{
	    display: inline-block;
	    margin-right: 15px;
	}
	#checkboxes label{
	    display: inline-block;
	    font-weight: 400;
	}
	label{
		font-weight: 600;
	}
	.modal{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
		z-index: 2;
		display: none;
	}
	.modal-box{
		position: absolute;
		background-color: #f2f2f2;
		max-width: 300px;
		padding: 15px;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: 0 auto;
		border-radius: 8px;
	}
	.modal-head{
		border-bottom: 1px solid #b6b6b6;
	}
	.modal-head_text{
		margin: 0;
		margin-bottom: 15px;
	}
	.modal-footer{
		display: flex;
		justify-content: flex-end;
		border-top: 1px solid #b6b6b6;
		padding-top: 15px;
	}
	.modal-body_text{
		font-size: 13px;
	}
	.modal-footer_btn{
		min-width: 50px;
	}
	.modal-footer_btn + .modal-footer_btn{
		margin-left: 10px;
	}
</style>