<template>
	<div class="container projects">
		<div class="row">
			<div class="col-xs-12">
				<p class="block-header_text">наши проекты</p>
			</div>
		</div>
		<!-- ********************************** -->
		<div class="row m-b-4" v-show="automatizationProject.length > 0">
			<div class="col-xs-12">
				<p class="project-line_head-text">Автоматизация государственных и регламентированных закупок</p>
			</div>
			<transition-group  class="project-part-box view-three" name="slide-fade" tag="div">
				<div class="col-xs-12 col-sm-6 col-md-4 project-part" v-for="(project, index) in automatizationProject" v-if="index < automatizationShortShow" :key="project.title">
					<div class="part" v-bind:style="{ backgroundImage: 'url(' + project.image + ')' }">
						<div class="part_desc">
							<p class="part_desc-text">
								{{project.title}}
							</p>
							<p class="part_desc-second-text">
								{{project.content}}
							</p>
						</div>
					</div>
				</div>
			</transition-group>
			<div class="col-xs-12 buttonParent" v-show="automatizationProject.length > 3">
				<center>
					<button class="read-more_button" v-on:click="showAllAutomatization">читать далее</button>
				</center>
			</div>
		</div>
		<!-- ********************************* -->
		<div class="row m-b-4" v-show="cooperationProject.length > 0">
			<div class="col-xs-12">
				<p class="project-line_head-text">Проектный офис в сфере развития научно-производственной кооперации</p>
			</div>
			<transition-group  class="project-part-box view-three" name="slide-fade" tag="div">
				<div class="col-xs-12 col-sm-6 col-md-4 project-part" v-for="(project, index) in cooperationProject" v-if="index < cooperationShortShow" :key="project.title">
					<div class="part" v-bind:style="{ backgroundImage: 'url(' + project.image + ')' }">
						<div class="part_desc">
							<p class="part_desc-text">
								{{project.title}}
							</p>
							<p class="part_desc-second-text">
								{{project.content}}
							</p>
						</div>
					</div>
				</div>
			</transition-group>
			<div class="col-xs-12 buttonParent" v-show="cooperationProject.length > 3">
				<center>
					<button class="read-more_button" v-on:click="showAllCooperation">читать далее</button>
				</center>
			</div>
		</div>
		<!-- ************************** -->
		<div class="row m-b-4" v-show="monitoringProject.length > 0">
			<div class="col-xs-12">
				<p class="project-line_head-text">Мониторинг научных и научно-технических проектов</p>
			</div>
			<transition-group class="project-part-box view-three" name="slide-fade" tag="div">
				<div class="col-xs-12 col-sm-6 col-md-4 project-part" v-for="(project, index) in monitoringProject" v-if="index < monitoringShortShow" :key="project.title">
					<div class="part" v-bind:style="{ backgroundImage: 'url(' + project.image + ')' }">
						<div class="part_desc">
							<p class="part_desc-text">
								{{project.title}}
							</p>
							<p class="part_desc-second-text">
								{{project.content}}
							</p>
						</div>
					</div>
				</div>
			</transition-group>
			<div class="col-xs-12 buttonParent" v-show="monitoringProject.length > 3">
				<center>
					<button class="read-more_button" v-on:click="showAllMonitoring">читать далее</button>
				</center>
			</div>
		</div>
	</div>	
</template>

<script>

export default{
	data () {
		return {
			automatizationProject: [],
			cooperationProject: [],
			monitoringProject: [],
			automatizationShortShow: 3,
			cooperationShortShow: 3,
			monitoringShortShow: 3
		}
	},
	created(){
		this.$http.get('https://vektor-k.firebaseio.com/projects.json').then(function(data){
			return data.json();
		}).then(function(data){
			for(let key in data){
				if (data[key].categories === 'automatization') {
					this.automatizationProject.unshift(data[key]);
				}
				else if (data[key].categories === 'cooperation') {
					this.cooperationProject.unshift(data[key]);
				}
				else if (data[key].categories === 'monitoring') {
					this.monitoringProject.unshift(data[key]);
				}
			}
		});
	},
	methods: {
		showAllAutomatization: function(e) {
			e.target.innerHTML == 'свернуть' ? e.target.innerHTML ='читать далее' : e.target.innerHTML ='свернуть';
			this.automatizationShortShow == 3 ? this.automatizationShortShow = this.automatizationProject.length : this.automatizationShortShow = 3
		},
		showAllCooperation: function(e) {
			e.target.innerHTML == 'свернуть' ? e.target.innerHTML ='читать далее' : e.target.innerHTML ='свернуть';
			this.cooperationShortShow == 3 ? this.cooperationShortShow = this.cooperationProject.length : this.cooperationShortShow = 3
		},
		showAllMonitoring: function(e) {
			e.target.innerHTML == 'свернуть' ? e.target.innerHTML ='читать далее' : e.target.innerHTML ='свернуть';
			this.monitoringShortShow == 3 ? this.monitoringShortShow = this.monitoringProject.length : this.monitoringShortShow = 3
		}
	}
}
</script>

<style scoped>
	.slide-fade-enter, .slide-fade-leave-to {
		opacity: 0;
	}
	.slide-fade-leave, .slide-fade-enter-to { 
		opacity: 1;
	}
	.slide-fade-enter-active, .slide-fade-leave-active { 
		transition: all .5s ease-in-out;
	}
	/*.view-three .project-part{
		display: none;
	}
	.view-three .project-part:nth-child(1){
		display: block;
	}
	.view-three .project-part:nth-child(2){
		display: block;
	}
	.view-three .project-part:nth-child(3){
		display: block;
	}*/
	.part{
		width: 350px;
		height: 350px;
		position: relative;
		left: 0;
	    right: 0;
	    margin: 0 auto;
	    background-repeat: no-repeat;
	}
	.part_desc{
		position: absolute;
		width: 100%;
		height: 125px;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background-color: #349bae;
		transition: all 0.5s ease;	
	}
	.part_desc-text, .part_desc-second-text{
		font-size: 13px;
		font-weight: 500;
		margin: 10px 25px;
		color: #fff;
	}
	.part_desc-second-text{
		display: none;
		font-size: 12px;
	}
	.part:hover .part_desc{
		height: 100%;
		justify-content: flex-start;
	}
	.part:hover .part_desc-second-text{
		display: block;
		/*overflow-y: auto;*/
	}
	.project-line_head-text{
		font-size: 22px;
		font-weight: 600;
	}
	.project-part{
		margin-bottom: 30px;
	}
	.read-more_button{
		background: #fff;
		color: #349bae;
	    padding: 15px 30px;
		border-radius: 2px;
	    border: 1px solid #349bae;
		text-transform: uppercase;  
	    outline: none;
	    cursor: pointer;
	    margin-top: 25px;
	}
	.read-more_button:hover{
		background: #349bae;
		color: #fff;
		border-color: #349bae;
	}
	@media screen and (max-width: 1200px){
		.part{
			width: 300px;
		}
	}
	@media screen and (max-width: 992px){
		.part{
			width: 350px;
		}
	}
	@media screen and (max-width: 414px){
		.part{
			width: 100%;
			background-position: 50% 0;
		}
	}
</style>