<template>
	<div class="container contacts">
		<div class="row">
			<div class="col-xs-12">
				<p class="block-header_text">контакты</p>
			</div>
		</div>
		<div class="row" style="padding-bottom: 50px">
			<div class="col-xs-12 col-sm-8">
				<gmap-map v-bind="options" id="map">
					<gmap-marker :position="options.center"/>
				</gmap-map>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="contacts-info">
					<a class="contacts-info_phone" :href="'tel:'+contacts.phone">{{contacts.phone}}</a>
					<a class="contacts-info_email" :href="'mailto:'+contacts.email">{{contacts.email}}</a>
					<span class="info_param">Генеральный директор:</span>
					<span class="info_val-bold">{{contacts.director}}</span>
					<span class="info_param">Юридический адрес:</span>
					<span class="info_val">{{contacts.yadress}}</span>
					<span class="info_param">Фактический адрес:</span>
					<span class="info_val">{{contacts.fadress}}</span>
					<span class="info_param">Для корреспонденции:</span>
					<span class="info_val">{{contacts.padress}}</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { gmapApi } from 'vue2-google-maps';
export default{
	name: "GoogleMap",
	data () {
		return {
			contacts: {},
			coordinatesPlace: null,
			options: {
		        zoom: 16,
		        center: {
		          lat: 0,
		          lng: 0
	        },
	        mapTypeId: 'roadmap'
	      }
		}
	},
	created(){
		this.$http.get('https://vektor-k.firebaseio.com/contacts.json').then(function(data){
			return data.json();
		}).then(function(data){
			this.contacts = data;
			var coordinatesPlace = data.fadress.replace(/ /g, '+');
			this.$http.get('https://geocode-maps.yandex.ru/1.x/?&geocode='+coordinatesPlace+'&format=json').then(function(data){
				this.coordinatesPlace = data.body.response.GeoObjectCollection.featureMember[0].GeoObject.Point.pos;
				this.options.center.lng = +this.coordinatesPlace.split(' ')[0];
				this.options.center.lat = +this.coordinatesPlace.split(' ')[1];
			});
			
		});
	}
}
</script>

<style scoped>
	#map {
	  height: 350px;
	  width: 100%;
	  margin: 0 auto;
	}
	.contacts-info{
		display: flex;
		flex-direction: column;
		padding-left: 15px;
		margin-left: 25px;
		border-left: 4px solid #162330;
		color: #162330;
	}
	.contacts-info_phone, .contacts-info_email{
		text-decoration: none;
		cursor: pointer;
		color: #162330;
		font-size: 25px;
	}
	.info_param{
		font-size: 14px;
		margin-top: 20px;
	}
	.info_val-bold{
		font-weight: 600;
	}
	@media screen and (max-width: 1200px){
		.info_param{
		    margin-top: 10px;
		}
	}
	@media screen and (max-width: 992px){
		.contacts-info_phone, .contacts-info_email{
			font-size: 20px;
		}
		.contacts-info{
			font-size: 13px;
		}
	}
	@media screen and (max-width: 768px){
		.contacts-info{
			margin-left: 15px;
			margin-top: 30px;
		}
	}
</style>