<template>
	<footer>
		<div class="container-fluide bg-footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<center>
							<small v-on:dblclick="toEdit">&copy; 2014-2018 Общество с ограниченной ответственностью &laquo;ВЕКТОР-К&raquo;</small>
						</center>
					</div>
				</div>
			</div>
		</div>
	</footer>
</template>

<script>

export default{
	
	data () {
		return {
			
		}
	},
	methods: {
		toEdit: function (){
			this.$router.push({ path: '/admin'})
		}
	}
}
</script>

<style scoped>
	small{
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 70px;
	}
</style>