<template>
	<div class="container-fluide fixed">
		<div class="container">
			<nav>
				<div class="col-xs-2">
					<router-link to="/" exact>
						<div class="header-logo">
							<img src="../../img/logo.png" alt="Logotype">
						</div>
					</router-link>
				</div>
				<div class="col-xs-10" style="display: flex; justify-content: flex-end;">
					<ul class="menu">
						<li><a v-on:click="hideMenu" class="slide-to to-company" v-bind:class="{'slide-to_active' : active == 'company'}" href="#">Компания</a></li>
						<li><a v-on:click="hideMenu" class="slide-to to-projects" v-bind:class="{'slide-to_active' : active == 'projects'}" href="#">Проекты</a></li>
						<li><a v-on:click="hideMenu" class="slide-to to-news" v-bind:class="{'slide-to_active' : active == 'news'}" href="#">Новости</a></li>
						<li><a v-on:click="hideMenu" class="slide-to to-contacts" v-bind:class="{'slide-to_active' : active == 'contacts'}" href="#">Контакты</a></li>
						<li><a href="#" v-on:click.prevent="requisitesShow=!requisitesShow">Реквизиты</a></li>
					</ul>
					<div class="visible-xs burger-parent">
						<button class="burger" v-on:click="toggleMenu">
							<i class="fa fa-bars"></i>
						</button>
					</div>
				</div>
			</nav>
			<div class="requisites-modal" v-if="requisitesShow">
				<div class="requisites-box">
					<div class="row">
						<div class="col-xs-12">
							<p class="block-header_text">банковские реквизиты</p>
						</div>
						<a href="#" class="close_modal" v-on:click.prevent="requisitesShow=!requisitesShow" title="Закрыть окно">+</a>
					</div>
					<table class="requisites_table">
						<tbody>
							<tr>
								<td>Полное наименование:</td>
								<td>{{requisites.full_name}}</td>
							</tr>
							<tr>
								<td>Сокращенное наименование:</td>
								<td>{{requisites.short_name}}</td>
							</tr>
							<tr>
								<td>ИНН/КПП:</td>
								<td>{{requisites.inn}}</td>
							</tr>
							<tr>
								<td>ОГРН:</td>
								<td>{{requisites.ogrn}}</td>
							</tr>
							<tr>
								<td>Наименование банка:</td>
								<td>{{requisites.bank_name}}</td>
							</tr>
							<tr>
								<td>ИНН/КПП банка:</td>
								<td>{{requisites.bank_inn}}</td>
							</tr>
							<tr>
								<td>Расчетный счет:</td>
								<td>{{requisites.rass_score}}</td>
							</tr>
							<tr>
								<td>Корреспондентский счет:</td>
								<td>{{requisites.korr_score}}</td>
							</tr>
							<tr>
								<td>БИК:</td>
								<td>{{requisites.bik}}</td>
							</tr>
							<tr>
								<td>ОКПО:</td>
								<td>{{requisites.okpo}}</td>
							</tr>
							<tr>
								<td>ОКТМО:</td>
								<td>{{requisites.oktmo}}</td>
							</tr>
							<tr>
								<td>ОКАТО:</td>
								<td>{{requisites.okato}}</td>
							</tr>
							<tr>
								<td>ОКОГУ:</td>
								<td>{{requisites.okogu}}</td>
							</tr>
							<tr>
								<td>ОКФС:</td>
								<td>{{requisites.okfs}}</td>
							</tr>
							<tr>
								<td>ОКОПФ:</td>
								<td>{{requisites.okopf}}</td>
							</tr>
							<tr>
								<td>ОКВЭД:</td>
								<td>{{requisites.okved}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

export default{
	// props:['active'],
	data () {
		return {
			requisitesShow: false,
			requisites: null,
			scrollPosition: null,
		    newsPosition: null,
		    companyPosition: null,
		    projectPosition: null,
		    contactsPosition: null,
		    active: 'company',
		    path: this.$route.path
		}
	},
	mounted(){
		this.$http.get('https://vektor-k.firebaseio.com/requisites.json').then(function(data){
			return data.json();
			}).then(function(data){
				this.requisites = data;
		});
		window.addEventListener('scroll', this.updateScroll);
	},
	methods: {
		toggleMenu: function(e){
			e.target.closest('.burger-parent').previousElementSibling.classList.toggle('menu-open');
		},
		hideMenu: function(e){
			e.target.closest('.menu').classList.toggle('menu-open');
		},
		updateScroll() {
	        this.scrollPosition = window.scrollY
	        this.newsPosition = document.getElementsByClassName('bg-news')[0].offsetTop - (window.innerHeight / 2);
	        this.companyPosition = document.getElementsByClassName('slider-container')[0].offsetTop - (window.innerHeight / 2);
	        this.projectPosition = document.getElementsByClassName('projects')[0].offsetTop - (window.innerHeight / 2);
	        this.contactsPosition = document.getElementsByClassName('contacts')[0].offsetTop - (window.innerHeight / 2);
      	}
	},
	watch: {
	    'scrollPosition'(){
	      	if(this.scrollPosition > this.companyPosition){
	        	this.active = 'company'
	      	}
	      	if(this.scrollPosition > this.projectPosition){
	        	this.active = 'projects'
	      	}
	      	if(this.scrollPosition > this.newsPosition){
	        	this.active = 'news'
	      	}
	      	if(this.scrollPosition > this.contactsPosition){
	        	this.active = 'contacts'
	      	}
   		}
  	},
  	beforeDestroy(){
  		window.removeEventListener('scroll', this.updateScroll);
  	}
}

</script>

<style scoped>
	.menu{
		list-style-type: none;
		padding: 0;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		width: 100%;
	}
	.menu > li{
		padding: 0 15px;
		text-align: center;
	}
	.menu > li > a{
		color: #162330;
		text-decoration: none;
		font-size: 16.5px;
		position: relative;
	}
	.menu > li > a::after{
		content: '';
		position: absolute;
		left: 0;
		/*right: 0;
		margin: 0 auto;*/
		bottom: -5px;
		width: 0%;
		height: 1px;
		background-color: #162330;
		transition: width 0.3s ease;	
	}
	.menu a:hover::after{
		width: 100%;
	}
	.router-link-active, .slide-to_active{
		color: #3fa8b9 !important;
	}
	nav{
		display: flex;
		align-items: center;
		/*flex-wrap: wrap;*/
	}
	.fixed{
		position: fixed;
		top: 0;
		z-index: 100;
		background: #fff;
		width: 100%;
	}
	.requisites-modal{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(10, 33, 53,.5);
		z-index: 101;
	}
	.requisites-box{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 70%;
		min-width: 300px;
		background-color: #fff;
		padding: 0px 30px 30px;
		border-radius: 5px;
	}
	.requisites_table > tbody > tr >td:first-child{
		width: 33.3333333333%;
		text-align: right;
	}
	.requisites_table > tbody > tr:nth-child(odd) >td{
		background-color: #edf7f7;
	}
	.requisites_table{
		border-collapse: collapse;
	}
	.requisites_table > tbody > tr >td{
		padding: 7px 15px;
		color: #162330;
	}
	.close_modal{
		text-decoration: none;
		outline: none;
		position: absolute;
		right: 30px;
		top: 10px;
		transform: rotate(45deg);
		font-size: 45px;
		color: #8bdfee;
		user-select: none;
	}
	.close_modal:hover{
		color: #018aa1;
	}
	@media screen and (max-width: 760px){
		nav{
			height: 50px;
		}
		.menu{
			position: fixed;
			left: 0;
			top: 50px;
			flex-direction: column;
			margin: 0;
			width: 100%;
			background-color: #fff;
			display: none;
			z-index: 100;
		}
		.menu > li{
			padding: 10px 0px;
		}
		.burger{
			background-color: #fff;
			border: none;
			font-size: 23px;
		    width: -webkit-max-content;
		    width: -moz-max-content;
		    width: max-content;
		}
		.menu-open{
			display: block !important;
		}
		.requisites_table > tbody > tr >td:first-child{
			width: auto;
			text-align: right;
		}
		.requisites_table > tbody > tr >td{
			padding: 2px 5px;
			font-size: 10px;
		}
		.requisites-box{
			min-width: 280px;
			width: 280px;
			padding: 10px;
		}
		.block-header_text{
			font-size: 15px;
		}
		.close_modal{
		    font-size: 30px;
			top: 0;
			right: 10px;    
		}
	}
</style>