<template>
	<div class="landing">
		<div class="container-fluide bg-main">
			<slider></slider>
		</div>
		<div class="container-fluide bg-services">
			<services></services>
		</div>
		<projects></projects>
		<div class="container-fluide bg-news">
			<news></news>
		</div>
		<contacts></contacts>
		<!-- <requisites></requisites> -->
	</div>
</template>

<script>
import Slider from './slider.vue'
import Services from './services.vue'
import Projects from '../projects/projects.vue'
import News from '../news/news.vue'
import Contacts from './contacts.vue'
// import Requisites from './requisites.vue'

export default{
	components: {
		'slider': Slider,
		'services' : Services,
		'projects' : Projects,
		'news' : News,
		'contacts' : Contacts,
		// 'requisites': Requisites
	},
	data () {
		return {
			scrollPosition: null,
		}
	},
  	mounted() {
	     function animate(offset){
			$('html, body').animate({scrollTop : offset}, 1000);
		}
		$('body').on('click','.to-projects', function(){
			var offset = $('.projects').offset().top - 50;
			animate(offset);
		});	
		$('body').on('click','.to-company', function(){
			var offset = $('.slider-container').offset().top -50;
			animate(offset);
		});		
		$('body').on('click','.to-news', function(){
			var offset = $('.news').offset().top -50;
			animate(offset);
		});	
		$('body').on('click','.to-contacts', function(){
			var offset = $('.contacts').offset().top -50;
			animate(offset);
		});
	},
	destroyed () {
		$('body').off('click');	
	}
}
</script>

<style scoped>
	
</style>