<template>
	<div class="container" id="company">
		<div class="row">
			<div class="col-xs-12">
				<p class="block-header_text-inverted">услуги</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<div class="services-part">
					<div class="service-part_photo">
						<img src="/src/img/mechasm.png" alt="">
					</div>
					<div class="service-part_title">
						<p class="title">Автоматизация государственных и регламентированных закупок</p>
					</div>
					<div class="service-part_list">
						<ul class="list">
							<li>Предпроектное обследование обьекта автоматизации;</li>
							<li>Проектирование информационных систем;</li>
							<li>Организация разработки информационных систем;</li>
							<li>Оргпнизация первичного наполнения и запуск в опытную и промышленную эксплуатацию информационных систем;</li>
							<li>Внедрение и сопровождение информационных систем;</li>
							<li>Модернизация действующих информационных сиситем, расширение аналитических возможностей.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="services-part">
					<div class="service-part_photo">
						<img src="/src/img/chart.png" alt="">
					</div>
					<div class="service-part_title">
						<p class="title">Проектный офис в сфере развития научно-производственной кооперации</p>
					</div>
					<div class="service-part_list">
						<ul class="list">
							<li>Консультационно-методическая и информационно-аналитическая поддержка заказчика;</li>
							<li>Организация и проведение мероприятий, в том числе и выездных;</li>
							<li>Разработка информационных инструментов мониторинга и поддержки принятия управленческих решений</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="services-part">
					<div class="service-part_photo">
						<img src="/src/img/lupa.png" alt="">
					</div>
					<div class="service-part_title">
						<p class="title">Мониторинг научных и научно-технических проектов</p>
					</div>
					<div class="service-part_list">
						<ul class="list">
							<li>Обеспечение экспертизы и мониторинга научно-технических результатов исследовательских проектов в области информационных технологий;</li>
							<li>Предоставление сводной и аналитической информации об исполнении исследовательских проектов;</li>
							<li>Консультационная поддержка участников конкурсов, исполнителей исследовательских проектов в области IT и заказчика по вопросам, имеющим отношение к выполнению проектов.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<center>
					<!-- <router-link to='/contacts' class="custom-button">связаться с нами</router-link> -->
					<button class="custom-button to-contacts">связаться с нами</button>
				</center>	
			</div>
		</div>
	</div>	
</template>

<script>

export default{
	data () {
		return {

		}
	},
}
</script>

<style scoped>
	.title{
		text-align: center;
		font-size: 20px;
		color: #fff;
		margin-top: 0;
		font-weight: 600;
	}
	.list{
		color: #fff;
		list-style-type: none;
	}
	.list > li{
		position: relative;
		font-size: 14px;
    	margin-bottom: 10px;
	}
	.list > li::before{
		content: '';
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background-color: #fff;
		position: absolute;
		left: -20px;
		top: 5px;
	}
	.service-part_photo{
		text-align: center;
		margin-bottom: 10px;
	}
	.service-part_photo img{
		width: 120px;
		margin-bottom: 30px;
	}
	.services-part{
		margin: 0 10px;
	}
	@media screen and (max-width: 992px){
		.services-part{
			margin-bottom: 60px;
		}
	}
</style>