<template>
	<div class="container slider-container">
		<div class="row" style="display: flex; align-items: center; flex-wrap: wrap;">
			<div class="col-xs-12 col-sm-8">
				<div class="slider-box slider">
					<div class="slide" v-for="slide in slider">
						<img :src="slide.image" alt="Slide">
						<p class="slide-text">{{ slide.text }}</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="slider-desc">
					<p class="slider-desc_head">Наша команда</p>
					<div class="slider-desc_option">
						<p>Общество с ограниченной ответственностью "ВЕКТОР-К" создано в 2014 году</p>
						<p>Коллектив состоит в основном из выпускников Московского физико технического института (государственного университета)</p>
						<p>К работе так же привлекаются студенты и аспиранты МФТИ</p>
					</div>
				</div>
			</div>
		</div>
	</div>	
</template>

<script>

export default{
	data () {
		return {
			slider: []
		}
	},
	created(){
        this.$http.get('https://vektor-k.firebaseio.com/slider.json').then(function(data){
			return data.json();
		}).then(function(data){
			this.slider = data;
      		setTimeout(this.sliderInit, 0);
		});
	},
	methods: {
		sliderInit: function(){
			$('.slider').slick({
	          autoplay: true,
	          autoplaySpeed: 3000,
	          prevArrow: '<button type="button" class="slide-arrow slide-arrow_left hidden-xs hidden-sm hidden-md visible-lg visible-xl"><i class="chevron chevron-left"></i></button>',
	          nextArrow: '<button type="button" class="slide-arrow slide-arrow_right hidden-xs hidden-sm hidden-md visible-lg visible-xl"><i class="chevron chevron-right"></i></button>',
	          dots: true,
	          dotsClass: 'slider-triggers',
	          slidesToShow: 1,
	          slidesToScroll: 1,
	          // centerMode: true,
	          focusOnSelect: true
	        });
		}
	}
}
</script>

<style scoped>
	.slider-box{
		position: relative;
	}
	.slide{
		text-align: center;
		position: relative;
	}
	.slide img{
		margin: 0 auto;
		min-width: 75%;
		max-width: 76%;
	}
	.slider-desc{
		color: #3fa8b9;
		margin-left: 30px;
	}
	.slider-desc_head{
		font-size: 30px;
		margin: 0;
		margin-bottom: 30px;
	}
	.slider-desc_option p{
		font-size: 17px;
		margin: 0;
	}
	.slider-container{
		padding: 100px 0;
	}
	.slider-desc_option{
		border-left: 4px solid #3fa8b9;
		padding-left: 15px;
	}
	.slide-text{
		position: absolute;
	    bottom: 10px;
	    left: 15%;
	    color: #fff;
	    font-weight: 600;
	    font-size: 22px;
	}
	@media screen and (max-width: 992px){
		.slider-desc{
			margin-left: 15px;
		}
		.slider-desc_head{
			font-size: 25px;
			margin-bottom: 15px;
		}
		.slider-desc_option p{
			font-size: 13px;
		}
	}
	@media screen and (max-width: 767px){
		.slider-desc_head{
			font-size: 30px;
			margin-bottom: 30px;
			margin-top: 30px;
		}
		.slider-desc_option p{
			font-size: 16px;
		}
	}
	@media screen and (max-width: 568px){
		.slide img{
			margin: 0 auto;
			min-width: 100%;
			max-width: 100%;
		}
	}
	@media screen and (max-width: 414px){
		.slider-container{
			padding-top: 50px;
		}
		.slide-text{
			left: 5%;
			font-size: 13px;
			bottom: 5px;
		}
	}
</style>
