<template>
	<div class="container" style="min-height: calc( 100vh - 122px ); margin-top: 50px;">
		<div class="tabs">
			<ul class="tabs-list">
				<li><button :class="{'active': activeTab == 1}" tabData="1" v-on:click.prevent="changeTab">Проекты</button></li>
				<li><button :class="{'active': activeTab == 2}" tabData="2" v-on:click.prevent="changeTab">Новости</button></li>
				<li><button :class="{'active': activeTab == 3}" tabData="3" v-on:click.prevent="changeTab">Контакты</button></li>
				<li><button :class="{'active': activeTab == 4}" tabData="4" v-on:click.prevent="changeTab">Реквизиты</button></li>
				<li><button :class="{'active': activeTab == 5}" tabData="5" v-on:click.prevent="changeTab">Слайдер</button></li>
			</ul>
		</div>
		<div v-if="activeTab == 4">
			<div class="row">
				<div class="col-xs-12 flex-row">
					<p class="block-header_text">Реквизиты</p>
					<button class="create-button" v-on:click.prevent="requisitesEdit = !requisitesEdit">Редактировать реквизиты</button>
				</div>
			</div>
			<div class="requisites-box">
				<div class="row">
					<div class="col-xs-4 text-right">Полное наименование:</div>
					<div v-if="!requisitesEdit" class="col-xs-6">{{requisites.full_name}}</div>
					<input v-if="requisitesEdit" class="col-xs-6" type="text" v-model="requisites.full_name">
				</div>
				<div class="row">
					<div class="col-xs-4 text-right">Сокращенное наименование:</div>
					<div v-if="!requisitesEdit" class="col-xs-6">{{requisites.short_name}}</div>
					<input v-if="requisitesEdit" class="col-xs-6" type="text" v-model="requisites.short_name">
				</div>
				<div class="row">
					<div class="col-xs-4 text-right">ИНН/КПП:</div>
					<div v-if="!requisitesEdit" class="col-xs-6">{{requisites.inn}}</div>
					<input v-if="requisitesEdit" class="col-xs-6" type="text" v-model="requisites.inn">
				</div>
				<div class="row">
					<div class="col-xs-4 text-right">ОГРН:</div>
					<div v-if="!requisitesEdit" class="col-xs-6">{{requisites.ogrn}}</div>
					<input v-if="requisitesEdit" class="col-xs-6" type="text" v-model="requisites.ogrn">
				</div>
				<div class="row">
					<div class="col-xs-4 text-right">Наименование банка:</div>
					<div v-if="!requisitesEdit" class="col-xs-6">{{requisites.bank_name}}</div>
					<input v-if="requisitesEdit" class="col-xs-6" type="text" v-model="requisites.bank_name">
				</div>
				<div class="row">
					<div class="col-xs-4 text-right">ИНН/КПП банка:</div>
					<div v-if="!requisitesEdit" class="col-xs-6">{{requisites.bank_inn}}</div>
					<input v-if="requisitesEdit" class="col-xs-6" type="text" v-model="requisites.bank_inn">
				</div>
				<div class="row">
					<div class="col-xs-4 text-right">Расчетный счет:</div>
					<div v-if="!requisitesEdit" class="col-xs-6">{{requisites.rass_score}}</div>
					<input v-if="requisitesEdit" class="col-xs-6" type="text" v-model="requisites.rass_score">
				</div>
				<div class="row">
					<div class="col-xs-4 text-right">Корреспондентский счет:</div>
					<div v-if="!requisitesEdit" class="col-xs-6">{{requisites.korr_score}}</div>
					<input v-if="requisitesEdit" class="col-xs-6" type="text" v-model="requisites.korr_score">
				</div>
				<div class="row">
					<div class="col-xs-4 text-right">БИК:</div>
					<div v-if="!requisitesEdit" class="col-xs-6">{{requisites.bik}}</div>
					<input v-if="requisitesEdit" class="col-xs-6" type="text" v-model="requisites.bik">
				</div>
				<div class="row">
					<div class="col-xs-4 text-right">ОКПО:</div>
					<div v-if="!requisitesEdit" class="col-xs-6">{{requisites.okpo}}</div>
					<input v-if="requisitesEdit" class="col-xs-6" type="text" v-model="requisites.okpo">
				</div>
				<div class="row">
					<div class="col-xs-4 text-right">ОКТМО:</div>
					<div v-if="!requisitesEdit" class="col-xs-6">{{requisites.oktmo}}</div>
					<input v-if="requisitesEdit" class="col-xs-6" type="text" v-model="requisites.oktmo">
				</div>
				<div class="row">
					<div class="col-xs-4 text-right">ОКАТО:</div>
					<div v-if="!requisitesEdit" class="col-xs-6">{{requisites.okato}}</div>
					<input v-if="requisitesEdit" class="col-xs-6" type="text" v-model="requisites.okato">
				</div>
				<div class="row">
					<div class="col-xs-4 text-right">ОКОГУ:</div>
					<div v-if="!requisitesEdit" class="col-xs-6">{{requisites.okogu}}</div>
					<input v-if="requisitesEdit" class="col-xs-6" type="text" v-model="requisites.okogu">
				</div>
				<div class="row">
					<div class="col-xs-4 text-right">ОКФС:</div>
					<div v-if="!requisitesEdit" class="col-xs-6">{{requisites.okfs}}</div>
					<input v-if="requisitesEdit" class="col-xs-6" type="text" v-model="requisites.okfs">
				</div>
				<div class="row">
					<div class="col-xs-4 text-right">ОКОПФ:</div>
					<div v-if="!requisitesEdit" class="col-xs-6">{{requisites.okopf}}</div>
					<input v-if="requisitesEdit" class="col-xs-6" type="text" v-model="requisites.okopf">
				</div>
				<div class="row m-b-40">
					<div class="col-xs-4 text-right">ОКВЭД:</div>
					<div v-if="!requisitesEdit" class="col-xs-6">{{requisites.okved}}</div>
					<input v-if="requisitesEdit" class="col-xs-6" type="text" v-model="requisites.okved">
				</div>
				<button v-if="requisitesEdit" class="create-button" v-on:click="sendRequisites">Сохранить</button>
			</div>
		</div>
		<div v-if="activeTab == 3">
			<div class="row">
				<div class="col-xs-12 flex-row">
					<p class="block-header_text">Контакты</p>
					<button class="create-button" v-on:click.prevent="contactsEdit = !contactsEdit">Редактировать контакты</button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" v-if="!contactsEdit">
					<div class="contacts-info">
						<a :href="'tel:'+contacts.phone" class="contacts-info_phone">{{contacts.phone}}</a>
						<a :href="'mailto:'+contacts.email" class="contacts-info_email">{{contacts.email}}</a>
						<span class="info_param">Генеральный директор:</span>
						<span class="info_val-bold">{{contacts.director}}</span>
						<span class="info_param">Юридический адрес:</span>
						<span class="info_val">{{contacts.yadress}}</span>
						<span class="info_param">Фактический адрес:</span>
						<span class="info_val">{{contacts.fadress}}</span>
						<span class="info_param">Для корреспонденции:</span>
						<span class="info_val">{{contacts.padress}}</span>
					</div>
				</div>
				<form action="" class="col-xs-12" v-on:submit.prevent="sendContacts" id="contacts" v-if="contactsEdit">
					<div class="contacts-info m-b-20">
						<span class="info_param">Телефон</span>
						<input type="text" v-model="contacts.phone">
					
						<span class="info_param">Email</span>
						<input type="text" v-model="contacts.email">
					
						<span class="info_param">Генеральный директор</span>
						<input type="text" v-model="contacts.director">
					
						<span class="info_param">Юридический адрес</span>
						<input type="text" v-model="contacts.yadress">
					
						<span class="info_param">Фактический адрес</span>
						<input type="text" v-model="contacts.fadress">
					
						<span class="info_param">Для корреспонденции</span>
						<input type="text" v-model="contacts.padress">
					</div>
					<button type="submit" class="create-button" v-on:click="contactsEdit = !contactsEdit">Сохранить</button>
				</form>
			</div>
		</div>
		<div v-if="activeTab == 2">
			<div class="row">
				<div class="col-xs-12 flex-row">
					<p class="block-header_text">Новости</p>
					<router-link to="/admin/createnews" tag="button" class="create-button">Создать новость</router-link>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<table class="custom-table">
						<thead>
							<tr>
								<th>Заголовок новости</th>
								<th>Дата публикации</th>
								<th>Действия</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="news in getNews">
								<td>
									<!-- <router-link v-bind:to="'/news/'+ news.id"> -->
										{{ news.title }}
									<!-- </router-link> -->
								</td>
								<td>{{ news.date }}</td>
								<td width="1" nowrap>
									<router-link v-bind:to="'/admin/editnews/'+news.id" tag="button" class="action-btn action-edit-btn" title="Редактировать"><i class="fa fa-pencil"></i></router-link>
									<button v-on:click="openModal" class="action-btn action-remove-btn" title="Удалить"><i class="fa fa-trash"></i></button>
									<div class="modal">
										<div class="modal-box">
											<div class="modal-head">
												<p class="modal-head_text">Удаление новости</p>
											</div>
											<div class="modal-body">
												<p class="modal-body_text">Вы действительно хотите удалить новость <b>{{  news.title }}</b> ?</p>
											</div>
											<div class="modal-footer">
												<button v-on:click="closeModal" class="modal-footer_btn">Нет</button>
												<button v-on:click="deleteNews" v-bind:data-delete="news.id" class="modal-footer_btn">Да</button>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div v-if="activeTab == 1">
			<div class="row">
				<div class="col-xs-12 flex-row">
					<p class="block-header_text">Проекты</p>
					<router-link to="/admin/createproject" tag="button" class="create-button">Создать проект</router-link>
				</div>
			</div>
			<div class="row m-b-20">
				<div class="col-xs-12">
					<table class="custom-table">
						<thead>
							<tr>
								<th>Заголовок проекта</th>
								<th>Описание проекта</th>
								<th>Категория</th>
								<th>Действия</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="project in getProjects">
								<td>{{ project.title }}</td>
								<td>{{ project.content }}</td>
								<td>{{ project.categories }}</td>
								<td width="1" nowrap>
									<router-link v-bind:to="'/admin/editproject/'+project.id" tag="button" class="action-btn action-edit-btn" title="Редактировать"><i class="fa fa-pencil"></i></router-link>
									<button v-on:click="openModal" class="action-btn action-remove-btn" title="Удалить"><i class="fa fa-trash"></i></button>
									<div class="modal">
										<div class="modal-box">
											<div class="modal-head">
												<p class="modal-head_text">Удаление проекта</p>
											</div>
											<div class="modal-body">
												<p class="modal-body_text">Вы действительно хотите удалить проект <b>{{  project.title }}</b> ?</p>
											</div>
											<div class="modal-footer">
												<button v-on:click="closeModal" class="modal-footer_btn">Нет</button>
												<button v-on:click="deleteProject" v-bind:data-delete="project.id" class="modal-footer_btn">Да</button>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div v-if="activeTab == 5">
			<div class="row">
				<p v-show="errorSlider" class="error">Текст и фото слайда обязательны для заполнения !</p>
				<div class="col-xs-12 flex-row">
					<p class="block-header_text">Слайдер</p>
					<button class="create-button" v-on:click.prevent="sliderEdit = !sliderEdit">Редактировать слайдер</button>
				</div>
			</div>
			<div class="row m-b-20">
				<div class="col-xs-12">
					<table class="custom-table slider">
						<thead>
							<tr>
								<th>Фото</th>
								<th>Текст фото</th>
								<th v-if="sliderEdit">Действия</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="slide in slider">
								<td style="width: 15%">
									<img :src="slide.image" alt="">
								</td>
								<td>
									<p v-if="!sliderEdit">{{ slide.text }}</p>
									<input v-if="sliderEdit" type="text" v-model="slide.text">
								</td>
								<td v-if="sliderEdit" align="center" width="1">
									<a title="Удалить слайд" v-if="sliderEdit && slider.length > 1" href="#" v-on:click.prevent="removeSlide(slide.id)"><i class="fa fa-trash"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<hr v-if="sliderEdit">
			<div class="row" v-if="sliderEdit">
				<div class="col-xs-12 flex-row">
					<p class="block-header_text">Новый слайд</p>
				</div>
			</div>
			<div class="col-xs-12 slider" v-if="sliderEdit">
				<div class="row slide">
					<div class="slide-photo col-xs-12 col-sm-6">
						<p>Фото слайда</p>
						<input type="file" id="file" v-on:change="addPhoto" v-on:focus="errorSlider = false">
						<img src="" alt="" id="slide-img" class="m-b-20">
					</div>
					<div class="slide-text col-xs-12 col-sm-6">
						<p>Текст слайда</p>
						<input type="text" id="slide-text" v-on:focus="errorSlider = false">
					</div>
				</div>
			</div>
			<button v-if="sliderEdit" class="create-button m-b-20" v-on:click.prevent="addSlide">Добавить слайд</button>
			<hr v-if="sliderEdit">
			<div class="row">
				<center class="col-xs-12">
					<button v-if="sliderEdit" class="create-button m-b-20" v-on:click.prevent="saveSlider">Сохранить изменения</button>
				</center>
			</div>
		</div>
	</div>
</template>

<script>
// let slideId = 0 
export default{
	data () {
		return {
			activeTab: 1,
			slider: [],
			submitted: false,
			error: false,
			errorProject: false,
			errorSlider: false,
			getNews: [],
			getProjects: [],
			getContacts: null,
			modal: false,
			contacts: {
				phone: null,
				email: null,
				director: null,
				yadress: null,
				fadress: null,
				padress: null
			},
			contactsEdit: false,
			requisites: {
				full_name: null,
				short_name: null,
				inn: null,
				ogrn: null,
				bank_name: null,
				bank_inn: null,
				rass_score: null,
				korr_score: null,
				bik: null,
				okpo: null,
				oktmo: null,
				okato: null,
				okogu: null,
				okfs: null,
				okopf: null,
				okved: null
			},
			requisitesEdit: false,
			sliderEdit: false
		}
	},
	mounted(){
		// if (JSON.parse(sessionStorage.getItem('login')) && JSON.parse(sessionStorage.getItem('login')).user == 'admin') {
			this.$http.get('https://vektor-k.firebaseio.com/news.json').then(function(data){
				return data.json();
				}).then(function(data){
					var newsArray = [];
				    for (let key in data) {
				    	data[key].id = key;
				        newsArray.unshift(data[key]);
		      		}
			      	this.getNews = newsArray;
			});
			this.$http.get('https://vektor-k.firebaseio.com/projects.json').then(function(data){
				return data.json();
				}).then(function(data){
					var projectsArray = [];
				    for (let key in data) {
				    	data[key].id = key;
				        projectsArray.unshift(data[key]);
		      		}
			      	this.getProjects = projectsArray;
			});
			this.$http.get('https://vektor-k.firebaseio.com/contacts.json').then(function(data){
				return data.json();
				}).then(function(data){
					this.contacts = data;
			});
			this.$http.get('https://vektor-k.firebaseio.com/requisites.json').then(function(data){
				return data.json();
				}).then(function(data){
					this.requisites = data;
			});
			this.$http.get('https://vektor-k.firebaseio.com/slider.json').then(function(data){
				return data.json();
			}).then(function(data){
				this.slider = data;
			});
			document.getElementsByTagName("html")[0].scrollTop = 0;
		// }else{
		// 	this.$router.push({ path: '/login'});
		// }
	},
	methods: {
		openModal: function(e){
			e.target.nextElementSibling.style.display = "block";
		},
		closeModal: function(e){
			e.target.closest('.modal').style.display = "none";
		},
		deleteNews: function(e){
			this.$http.delete('https://vektor-k.firebaseio.com/news/'+ e.target.getAttribute('data-delete') +'.json').then(function(data){
				e.target.closest('tr').remove();
			});
		},
		deleteProject: function(e){
			this.$http.delete('https://vektor-k.firebaseio.com/projects/'+ e.target.getAttribute('data-delete') +'.json').then(function(data){
				e.target.closest('tr').remove();
			});
		},
		sendContacts: function(){
			this.$http.put('https://vektor-k.firebaseio.com/contacts.json', this.contacts).then(function(data){
			});
		},
		sendRequisites: function(){
			this.$http.put('https://vektor-k.firebaseio.com/requisites.json', this.requisites).then(function(data){
			});
			this.requisitesEdit = !this.requisitesEdit;
		},
		changeTab: function(e){
			this.activeTab = e.target.getAttribute('tabData');
		},
		addPhoto: function(e){
			this.errorSlider = false;
			var file = e.target.files[0];
			var reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onloadend = function() {
				var img = e.target.nextElementSibling;
				img.setAttribute('src', reader.result);
			}
		},
		addSlide: function(e){
			let img = document.getElementById('slide-img').getAttribute('src');
			let text = document.getElementById('slide-text').value;
			if (text && img) {
				this.slider.push({ image : img, text : text , id : +new Date()});
				document.getElementById('slide-img').setAttribute('src', '');
				document.getElementById('slide-text').value = '';
				document.getElementById('file').value = '';
			}
			else{
				this.errorSlider = true;
			}
		},
		removeSlide: function(id){
			for (var key in this.slider){
				if (this.slider[key].id === id) {
					this.slider.splice(key, 1);
				}	
			}
		},
		saveSlider: function(){
			this.$http.put('https://vektor-k.firebaseio.com/slider.json', this.slider).then(function(data){
				this.sliderEdit = false;
			});
		}
	}
}
</script>

<style scoped>
	.slide-photo{
		display: flex;
		flex-direction: column;
	}
	.slide-photo img{
		max-width: 200px;
	}
	.slider td > img{
		width: 200px;
	}
	.slider td > input{
		width: 100%;
	}
	.slider td > a > i{
		color: red;
	}
	.slide-text input{
		width: 100%;
	}
	i{
		user-select: none;
		pointer-events: none;
	}
	.flex-row{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.custom-table{
		border-collapse: collapse;
		width: 100%;
	}
	.custom-table > thead > tr > th{
		border: 1px solid #b6b6b6;
		border-bottom-width: 0px;
		padding: 5px 10px;
		background: #e2e8ed;
	    color: #349bae;
	    font-weight: 500;
	}
	.custom-table > tbody > tr > td{
		border: 1px solid #b6b6b6;
		padding: 5px 10px;
	}
	.custom-table > tbody > tr > td > a{
		color: #333;
		text-decoration: none;
	}
	.action-btn{
		width: 25px;
		height: 25px;
		border-radius: 50%;
		border: 1px solid #b6b6b6; 
		cursor: pointer;
		outline: none;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	.action-edit-btn:hover{
		background-color: #f4bf42;
		border-color: #f4bf42;
		color: #fff;
	}
	.action-remove-btn:hover{
		background-color: brown;
		border-color: brown;
		color: #fff;
	}
	.m-b-20{
		margin-bottom: 20px;
	}
	textarea{
		width: inherit;
		resize: vertical;
		padding: 5px 12px;
		font-size: 14px;
	    font-family: "Montserrat", sans-serif;
	    width: 100%;
	}
	.news-content{
		min-height: 200px;
		border: 1px solid rgb(169, 169, 169);
		padding: 5px 12px;
		font-size: 14px;
		margin-top: 15px;
	}
	.controls{
		display: flex;
		position: absolute;
		top: 0;
		right: 0;
	}
	.button{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;
		background-color: #eee;
		margin-right: 5px;
		border: 1px solid #aaa;
		border-radius: 3px;
		cursor: pointer;
	}
	img{
		max-width: 100%;
	}
	.custom-button{
		background: -webkit-linear-gradient(#74c0cc 0%, #74c0cc 30%, #6db4bf 50%, #74c0cc 70%, #74c0cc 100%);
		background: -o-linear-gradient(#74c0cc 0%, #74c0cc 30%, #6db4bf 50%, #74c0cc 70%, #74c0cc 100%);
		background: linear-gradient(#74c0cc 0%, #74c0cc 30%, #6db4bf 50%, #74c0cc 70%, #74c0cc 100%);
		color: #fff;
	    padding: 15px 30px;
		border-radius: 45px;
	    border: none;
		text-transform: uppercase;  
	    font-weight: 600;
	    outline: none;
	    cursor: pointer;
	    margin-top: 25px;
	    text-decoration: none;
	    font-size: 13.333333px;
	}
	.custom-button:hover{
		background: -webkit-linear-gradient(#2ceee8 0%, #2ceee8 30%, #27d3cd 50%, #2ceee8 70%, #2ceee8 100%);
		background: -o-linear-gradient(#2ceee8 0%, #2ceee8 30%, #27d3cd 50%, #2ceee8 70%, #2ceee8 100%);
		background: linear-gradient(#2ceee8 0%, #2ceee8 30%, #27d3cd 50%, #2ceee8 70%, #2ceee8 100%);
	}
	#checkboxes input{
	    display: inline-block;
	    margin-right: 15px;
	}
	#checkboxes label{
	    display: inline-block;
	    font-weight: 400;
	}
	label{
		font-weight: 600;
	}
	.modal{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
		z-index: 2;
		display: none;
	}
	.modal-box{
		position: absolute;
		background-color: #f2f2f2;
		max-width: 300px;
		padding: 15px;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: 0 auto;
		border-radius: 8px;
	}
	.modal-head{
		border-bottom: 1px solid #b6b6b6;
	}
	.modal-head_text{
		margin: 0;
		margin-bottom: 15px;
	}
	.modal-footer{
		display: flex;
		justify-content: flex-end;
		border-top: 1px solid #b6b6b6;
		padding-top: 15px;
	}
	.modal-body_text{
		font-size: 13px;
	}
	.modal-footer_btn{
		min-width: 50px;
	}
	.modal-footer_btn + .modal-footer_btn{
		margin-left: 10px;
	}
	.create-button{
		background: #fff;
		color: #349bae;
	    padding: 15px 30px;
		border-radius: 2px;
	    border: 1px solid #349bae;
		text-transform: uppercase;  
	    outline: none;
	    cursor: pointer;
	}
	.create-button:hover{
		background: #349bae;
		color: #fff;
		border-color: #349bae;
	}
	.contacts-info{
		display: flex;
		flex-direction: column;
		padding-left: 15px;
		margin-left: 25px;
		border-left: 4px solid #162330;
		color: #162330;
	}
	.contacts-info_phone, .contacts-info_email{
		text-decoration: none;
		cursor: pointer;
		color: #162330;
		font-size: 25px;
	}
	.info_param{
		font-size: 14px;
		margin-top: 20px;
	}
	.info_val-bold{
		font-weight: 600;
	}
	.requisites-info{

	}
	.tabs-list{
		display: flex;
		list-style-type: none;
		border-bottom: 1px solid #349bae;
		padding-left: 0;
	}
	.tabs-list > li > button{
		background: none;
		border: none;
		padding: 10px 20px;
		cursor: pointer;
		border-bottom: 2px solid transparent;
		outline: none;
		font-size: 16px;
		font-family: "Montserrat", sans-serif;
	}
	.tabs-list > li + li{
		margin-left: 8px;
	}
	.tabs-list > li > button:hover{
		border-bottom-color: #349bae;
	}
	.tabs-list > li > button.active{
		border-bottom-color: #349bae;
		color: #349bae;
	}
</style>