<template>
	<div class="container" style="min-height: calc( 100vh - 122px ); margin-top: 50px;">
		<div class="row">
			<div class="col-xs-12">
				<p class="block-header_text">Авторизация</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="sign-in col-xs-12 col-sm-6 col-sm-offset-3">
					<p v-if="error" class="error">Логин или пароль введен не верно !</p>
					<label for="">Логин</label>
					<input v-on:focus="error = false" type="text" v-model="email" autofocus autocomplete="no">
					<label for="">Пароль</label>
					<input v-on:focus="error = false" type="password" v-model="password" autocomplete="no">
					<button v-on:click="signIn" class="sign-in_btn">Войти</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

export default{
	data () {
		return {
			email: '',
			password: '',
			error: false,
		}
	},
	methods: {
		signIn: function(){
			console.log(this.$auth.options);
			this.$auth.login({
			    method: 'post',
			    url: 'auth/login',
			    body: {
			    	email: this.email,
			    	password: this.password
			    },
			    rememberMe: true,
			    fetchUser: true,
			    success(res) {
		        	console.log('login success', res);
		        },
		        error(e) {
		        	console.log('login failed', e);
		        }
			});
			// if (this.login == 'admin' && this.password == 'admin') {
			// 	sessionStorage.setItem( 'login' ,JSON.stringify({"user": "admin"}));
			// 	this.$router.push({ path: '/admin'});
			// }
			// else{
			// 	this.login = '';
			// 	this.password = '',
			// 	this.error = true;
			// }
		}
	}
}
</script>

<style scoped>
	.sign-in{
		display: flex;
		flex-direction: column;
	}
	.sign-in input{
		margin-bottom: 10px;
		height: 20px;
		border-radius: 8px;
		border: 1px solid #b6b6b6;
		padding: 5px 12px;
		font-size: 15px;
		outline: none;
	}
	.sign-in_btn{
		width: 150px;
		align-self: center;
		height: 30px;
		text-transform: uppercase;
		background-color: #349bae;
		color: #fff;
		cursor: pointer;
		border-radius: 8px;
		border: none;
		margin-top: 10px;
	}
</style>