<template>
	<div class="container" style="min-height: calc( 100vh - 122px ); margin-top: 50px">
		<div class="row">
			<div class="col-xs-12 flex-row">
				<p class="block-header_text">Редактирование новости</p>
				<button class="custom-button" v-on:click.prevent="showPreview">Предварительный просмотр</button>
			</div>
		</div>
		<div class="row" v-show="!preview">
			<form action="" class="col-xs-12">
				<p v-show="error" class="error">Поля "Заголовок" и "Текст" новости обязательны для заполнения</p>
				<p v-show="submitted" class="success">Новость успешно обновлена !</p>
				<div class="row m-b-20">
					<div class="col-xs-12 col-sm-3">
						<label class="text-right" for="">Заголовок новости</label>
					</div>
					<div class="col-xs-12 col-sm-9 m-b-20">
						<textarea id="news-title" maxlength="170" rows="5" v-model="news.title" v-on:focus="error=false">{{ news.title }}</textarea><br>
						<span class="m-b-20">{{news.title.length}} / 170</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<label class="text-right" for="">Текст новости</label>
					</div>
					<div class="col-xs-12 col-sm-9 m-b-20">
						<div class="news-content" id="content" contenteditable="true" v-on:focus="error=false" v-html="news.content">{{ news.content }}</div>
						<div class="controls">
							<span title="Жирный текст" class="button bold" v-on:mousedown="bold"><i class="fa fa-bold"></i></span>
							<span title="Наклонный текст" class="button italic" v-on:mousedown="italic"><i class="fa fa-italic"></i></span>
							<span title="Подчеркнутый текст" class="button underline" v-on:mousedown="underline"><i class="fa fa-underline"></i></span>
							<span title="Вырвнивание по левому краю" class="button align-left" v-on:mousedown="alignLeft"><i class="fa fa-align-left"></i></span>
							<span title="Вырвнивание по центру" class="button align-center" v-on:mousedown="alignCenter"><i class="fa fa-align-center"></i></span>
							<span title="Вырвнивание по правому краю" class="button align-right" v-on:mousedown="alignRight"><i class="fa fa-align-right"></i></span>
							<span title="Добавить ссылку" class="button add-link" v-on:mousedown="addLink"><i class="fa fa-link"></i></span>
							<span title="Нумерованный список" class="button ordered-list" v-on:mousedown="listOl"><i class="fa fa-list-ol"></i></span>
							<span title="Ненумерованный список" class="button unordered-list" v-on:mousedown="listUl"><i class="fa fa-list-ul"></i></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<label class="text-right" for="">Изображение</label>
					</div>
					<div class="col-xs-12 col-sm-9">
						<input type="file" id="bottomInp1" v-on:change="addImgNews">
						<div class="img-box">
							<button class="delete-button" v-show="news.image" v-on:click.prevent="cleanImage">✖️</button>
							<img v-bind:src="news.image" id="bottomImg1" alt="" v-model="news.image">
						</div>
					</div>
				</div>
				<div class="row m-b-20">
					<center><button class="custom-button" v-on:click.prevent="postNews">Сохранить</button></center>
				</div>
			</form>
		</div>
		<div class="row" v-show="preview">
			<div v-if="news" class="singleNews">
				<div class="col-xs-12">
					<p class="singleNews-title">{{ news.title }}</p>
				</div>
				<div class="col-xs-12 singleNews-content">
					<p v-html="news.content">{{ news.content }}</p>
					<center>
						<img  :src="news.image" alt="">
					</center>
					<i class="text-right">{{ news.date }}</i>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

export default{
	data () {
		return {
			news: {
				title: '',
				content: '',
				image: '',
				date: ''
			},
			submitted: false,
			error: false,
			preview : false,
			id: this.$route.params.id
		}
	},
	mounted(){
		if (JSON.parse(sessionStorage.getItem('login')) && JSON.parse(sessionStorage.getItem('login')).user == 'admin') {
			this.$http.get('https://vektor-k.firebaseio.com/news/'+ this.id +'.json').then(function(data){
				 return data.json();
		    }).then(function(data){
		    	this.news = data;
			});
		}else{
			this.$router.push({ path: '/login'});
		}
	},
	methods: {
		bold: function(){
			document.execCommand("bold");
		},
		italic: function(){
			document.execCommand("italic");
		},
		underline: function(){
			document.execCommand("underline");
		},
		alignLeft: function(){
			document.execCommand("justifyLeft");
		},
		alignCenter: function(){
			document.execCommand("justifyCenter");
		},
		alignRight: function(){
			document.execCommand("justifyRight");
		},
		addLink: function(){
			var link = prompt('Введите адрес ссылки');
			var newLink = document.execCommand("createLink",false ,link);
		},
		listOl: function(){
			document.execCommand("insertOrderedList");
		},
		listUl: function(){
			document.execCommand("insertUnorderedList");
		},
		addImgNews: function(e){
			var element = document.getElementById("bottomInp1");
			var file = element.files[0];
			var reader = new FileReader();
			reader.onloadend = function() {
			  document.getElementById("bottomImg1").src = reader.result;
			  document.getElementsByClassName('delete-button')[0].style.display = "block";
			}
			reader.readAsDataURL(file);
		},
		cleanImage: function(e){
			e.target.nextElementSibling.setAttribute("src", "");
			document.getElementById("bottomInp1").setAttribute("value", "");
			e.target.style.display = "none";
		},
		showPreview: function(e){
			this.news.content = document.getElementById("content").innerHTML;
			this.news.image = document.getElementById("bottomImg1").getAttribute("src");
			var date = new Date();
			this.news.date = ''+ ('0'+date.getDate()).slice(-2) +'.'+ (('0'+date.getMonth()+1).slice(-2)) +'.'+ date.getFullYear() +''
			e.target.innerHTML == 'Предварительный просмотр' ? e.target.innerHTML ='К редактированию' : e.target.innerHTML ='Предварительный просмотр';
			this.preview = !this.preview;
		},
		postNews: function(){
			document.getElementById('content').childNodes.forEach(function(e){
				e.target = '_blank';
			});
			this.news.content = document.getElementById("content").innerHTML;
			this.news.image = document.getElementById("bottomImg1").getAttribute("src");
			var date = new Date();
			this.news.date = ''+ ('0'+date.getDate()).slice(-2) +'.'+ (('0'+date.getMonth()+1).slice(-2)) +'.'+ date.getFullYear() +''
			if (this.news.title === '' || this.news.content === '') {
				this.error = true;
			}
			else{
				this.$http.put('https://vektor-k.firebaseio.com/news/'+ this.id +'.json', this.news).then(function(data){
					this.submitted = true;
					this.news = {
						title: '',
						content: '',
						image: '',
						date: ''
					};
					this.$router.push({ path: '/admin'});
				});
			}
		}
	}
}
</script>

<style scoped>
	.img-box{
		position: relative;
	    width: -webkit-max-content;
	    width: -moz-max-content;
	    width: max-content;
	}
	.delete-button{
		background: none;
		border: none;
		cursor: pointer;
		position: absolute;
		right: -20px;
		top: -20px;
	}
	.custom-table{
		border-collapse: collapse;
		width: 100%;
	}
	.custom-table > thead > tr > th{
		border: 1px solid #b6b6b6;
		border-bottom-width: 2px;
		padding: 5px 10px;
	}
	.custom-table > tbody > tr > td{
		border: 1px solid #b6b6b6;
		padding: 5px 10px;
	}
	.custom-table > tbody > tr > td > a{
		color: #333;
		text-decoration: none;
	}
	.action-btn{
		border-radius: 50%;
		padding: 5px;
		border: 1px solid #b6b6b6; 
		cursor: pointer;
		outline: none;
	}
	.action-btn:hover{
		background-color: #f2f2f2;
	}
	.m-b-20{
		margin-bottom: 20px;
	}
	textarea{
		width: inherit;
		resize: vertical;
		padding: 5px 12px;
		font-size: 14px;
	    font-family: "Montserrat", sans-serif;
	    width: 100%;
	}
	.news-content{
		min-height: 200px;
		border: 1px solid rgb(169, 169, 169);
		padding: 5px 12px;
		font-size: 14px;
	}
	.controls{
		display: flex;
		position: absolute;
		top: -30px;
		right: 0;
	}
	.button{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;
		background-color: #eee;
		margin-right: 5px;
		border: 1px solid #aaa;
		border-radius: 3px;
		cursor: pointer;
	}
	img{
		max-width: 100%;
	}
	.custom-button{
		background: #fff;
		color: #349bae;
	    padding: 15px 30px;
		border-radius: 2px;
	    border: 1px solid #349bae;
		text-transform: uppercase;  
	    outline: none;
	    cursor: pointer;
	}
	.custom-button:hover{
		background: #349bae;
		color: #fff;
		border-color: #349bae;
	}
	#checkboxes input{
	    display: inline-block;
	    margin-right: 15px;
	}
	#checkboxes label{
	    display: inline-block;
	    font-weight: 400;
	}
	label{
		font-weight: 600;
	}
	.modal{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
		z-index: 2;
		display: none;
	}
	.modal-box{
		position: absolute;
		background-color: #f2f2f2;
		max-width: 300px;
		padding: 15px;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: 0 auto;
		border-radius: 8px;
	}
	.modal-head{
		border-bottom: 1px solid #b6b6b6;
	}
	.modal-head_text{
		margin: 0;
		margin-bottom: 15px;
	}
	.modal-footer{
		display: flex;
		justify-content: flex-end;
		border-top: 1px solid #b6b6b6;
		padding-top: 15px;
	}
	.modal-body_text{
		font-size: 13px;
	}
	.modal-footer_btn{
		min-width: 50px;
	}
	.modal-footer_btn + .modal-footer_btn{
		margin-left: 10px;
	}
	.singleNews-content{
		border-left: 2px solid #3fa8b9;
    	padding-left: 15px;
    	margin-bottom: 45px;
	}
	.singleNews-title{
		color: #3fa8b9;
		font-size: 27px;
		margin-bottom: 45px;
	}
	.text-right{
		display: block;
		text-align: right;
	}
	.flex-row{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
</style>