<template>
	<div class="container-fluide bg-news news">
		<div class="preloader" v-if="preloader">
			<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="160px" height="20px" viewBox="0 0 128 16" xml:space="preserve">
				<rect x="0" y="0" width="100%" height="100%" fill="rgba(0,0,0,0)"/>
				<path fill="#949494" fill-opacity="0.42" d="M6.4,4.8A3.2,3.2,0,1,1,3.2,8,3.2,3.2,0,0,1,6.4,4.8Zm12.8,0A3.2,3.2,0,1,1,16,8,3.2,3.2,0,0,1,19.2,4.8ZM32,4.8A3.2,3.2,0,1,1,28.8,8,3.2,3.2,0,0,1,32,4.8Zm12.8,0A3.2,3.2,0,1,1,41.6,8,3.2,3.2,0,0,1,44.8,4.8Zm12.8,0A3.2,3.2,0,1,1,54.4,8,3.2,3.2,0,0,1,57.6,4.8Zm12.8,0A3.2,3.2,0,1,1,67.2,8,3.2,3.2,0,0,1,70.4,4.8Zm12.8,0A3.2,3.2,0,1,1,80,8,3.2,3.2,0,0,1,83.2,4.8ZM96,4.8A3.2,3.2,0,1,1,92.8,8,3.2,3.2,0,0,1,96,4.8Zm12.8,0A3.2,3.2,0,1,1,105.6,8,3.2,3.2,0,0,1,108.8,4.8Zm12.8,0A3.2,3.2,0,1,1,118.4,8,3.2,3.2,0,0,1,121.6,4.8Z"/>
				<g transform="translate(113 0)">
					<path fill="#ffffff" fill-opacity="1" d="M-42.7,3.84A4.16,4.16,0,0,1-38.54,8a4.16,4.16,0,0,1-4.16,4.16A4.16,4.16,0,0,1-46.86,8,4.16,4.16,0,0,1-42.7,3.84Zm12.8-.64A4.8,4.8,0,0,1-25.1,8a4.8,4.8,0,0,1-4.8,4.8A4.8,4.8,0,0,1-34.7,8,4.8,4.8,0,0,1-29.9,3.2Zm12.8-.64A5.44,5.44,0,0,1-11.66,8a5.44,5.44,0,0,1-5.44,5.44A5.44,5.44,0,0,1-22.54,8,5.44,5.44,0,0,1-17.1,2.56Z"/>
					<animateTransform attributeName="transform" type="translate" values="23 0;36 0;49 0;62 0;74.5 0;87.5 0;100 0;113 0;125.5 0;138.5 0;151.5 0;164.5 0;178 0" calcMode="discrete" dur="1300ms" repeatCount="indefinite"/>
				</g>
			</svg>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<p class="block-header_text">новости</p>
				</div>
			</div>
			<!-- ********************************** -->
			<div class="row">
				<div class="news-box view-all-news">
					<transition-group name="slide-fade" tag="div">
						<div v-for="(news, index) in getNews"  class="news-parent col-xs-12" :class="{ 'col-sm-8 col-md-6 f-g-2' : news.image, 'col-sm-4 col-md-3 f-g-1' : !news.image }" :key="news.id" v-if="index < newsShortShow">
							<router-link exact class="news-part" v-bind:to="'/news/'+ news.id">
								<div v-if="news.image" class="col-xs-6 mobile-w-100" :class="{ 'col-sm-6' : news.image }">
									<div class="news-image" v-bind:style="{ backgroundImage : 'url('+ news.image +')' }">
										<!-- <img  :src="news.image" alt=""> -->
									</div>
								</div>
								<div class="" :class="{ 'col-xs-6 col-sm-6 mobile-w-100' : news.image, 'col-xs-12' : !news.image }">
									<div class="news-desc">
										<p class="news-desc_text">{{news.title}}</p>
										<span class="news-desc_date">{{news.date}}</span>
									</div>
								</div>
							</router-link>
						</div>
					</transition-group>
					<div class="col-xs-12 buttonParent">
						<center>
							<button class="read-more_button" v-show="getNews.length > 5" v-on:click="showAll">читать далее</button>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

export default{
	data () {
		return {
			getNews: [],
			preloader: true,
			newsShortShow: 5
		}
	},
	methods: {
		showAll: function(e){
			e.target.innerHTML == 'свернуть' ? e.target.innerHTML ='читать далее' : e.target.innerHTML ='свернуть';
			this.newsShortShow == 5 ? this.newsShortShow = this.getNews.length : this.newsShortShow = 5
			// e.target.closest('.buttonParent').previousElementSibling.closest('.news-box').classList.toggle('view-all-news');
		}
	},
	mounted(){
		this.$http.get('https://vektor-k.firebaseio.com/news.json').then(function(data){
			return data.json();
			}).then(function(data){
			var newsArray = [];
		    for (let key in data) {
		    	data[key].id = key;
		        newsArray.unshift(data[key]);
      		}
	      	this.getNews = newsArray;
	      	this.preloader = false;
		});
	}
}
</script>

<style scoped>
	.slide-fade-enter, .slide-fade-leave-to {
		opacity: 0; 
	}
	.slide-fade-leave, .slide-fade-enter-to {
		opacity: 1; 
	}
	.slide-fade-enter-active, .slide-fade-leave-active {
		transition: all .5s ease-in-out;
	}
	.view-all-news > .news-parent{
		display: none; 
	}
	.view-all-news > .news-parent:nth-child(1){
		display: block;
	}
	.view-all-news > .news-parent:nth-child(2){
		display: block;
	}
	.view-all-news > .news-parent:nth-child(3){
		display: block;
	}
	.view-all-news > .news-parent:nth-child(4){
		display: block;
	}
	.view-all-news > .news-parent:nth-child(5){
		display: block;
	}
	.f-g-2{
		flex-grow: 2;
	}
	.f-g-1{
		flex-grow: 1;
	}
	.news-box{
		display: flex;
		flex-wrap: wrap;
	}
	.news-part{
		display: block;
		margin: 15px;
		height: 275px;
		background-color: #fff;
		transition: all 0.1s ease;
	}
	.news-part:hover{
		transform: scale(0.98);
	}
	.news-part:hover .news-desc{
		background-color: #d5f6fb;
	}
	.news-part:hover .news-desc_text{
		color: #246d7a;
	}
	.news-desc{
		color: #349bae;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 275px;
		padding: 0 15px;
		font-weight: 600;
		background-color: #fff;
	}
	.news-desc_date{
		position: absolute;
		bottom: 10px;
		right: 0px;
		padding-right: 10px;
		text-align: right;
	}
	.news-image{
		width: 100%;
		height: 275px;
		overflow: hidden;
		background-size: cover;
	    background-position: 50%;
	    background-repeat: no-repeat;
	}
	.news-image img{
		height: inherit;
	}
	.read-more_button{
		background: transparent;
		color: #49a4b6;
	    padding: 15px 30px;
		border-radius: 2px;
	    border: 1px solid #49a4b6;
		text-transform: uppercase;  
	    outline: none;
	    cursor: pointer;
	    margin-top: 25px;
	}
	.read-more_button:hover{
		background: #49a4b6;
		color: #fff;
	}
	.preloader{
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0,0,0,0.5);
	    z-index: 2;
	    left: 0;
	    top: 0;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    min-height: 500px;
	}
	@media screen and (max-width: 768px){
		.news-parent{
			margin-bottom: 20px;
		}
	}
	@media screen and (max-width: 414px){
		.mobile-w-100{
			width: 100%;
		}
	}
</style>