<template>
	<div style="margin-top: 50px; min-height: calc( 100vh - 122px )">
		<div class="preloader" v-if="preloader">
			<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="160px" height="20px" viewBox="0 0 128 16" xml:space="preserve">
				<rect x="0" y="0" width="100%" height="100%" fill="rgba(0,0,0,0)"/>
				<path fill="#949494" fill-opacity="0.42" d="M6.4,4.8A3.2,3.2,0,1,1,3.2,8,3.2,3.2,0,0,1,6.4,4.8Zm12.8,0A3.2,3.2,0,1,1,16,8,3.2,3.2,0,0,1,19.2,4.8ZM32,4.8A3.2,3.2,0,1,1,28.8,8,3.2,3.2,0,0,1,32,4.8Zm12.8,0A3.2,3.2,0,1,1,41.6,8,3.2,3.2,0,0,1,44.8,4.8Zm12.8,0A3.2,3.2,0,1,1,54.4,8,3.2,3.2,0,0,1,57.6,4.8Zm12.8,0A3.2,3.2,0,1,1,67.2,8,3.2,3.2,0,0,1,70.4,4.8Zm12.8,0A3.2,3.2,0,1,1,80,8,3.2,3.2,0,0,1,83.2,4.8ZM96,4.8A3.2,3.2,0,1,1,92.8,8,3.2,3.2,0,0,1,96,4.8Zm12.8,0A3.2,3.2,0,1,1,105.6,8,3.2,3.2,0,0,1,108.8,4.8Zm12.8,0A3.2,3.2,0,1,1,118.4,8,3.2,3.2,0,0,1,121.6,4.8Z"/>
				<g transform="translate(113 0)">
					<path fill="#ffffff" fill-opacity="1" d="M-42.7,3.84A4.16,4.16,0,0,1-38.54,8a4.16,4.16,0,0,1-4.16,4.16A4.16,4.16,0,0,1-46.86,8,4.16,4.16,0,0,1-42.7,3.84Zm12.8-.64A4.8,4.8,0,0,1-25.1,8a4.8,4.8,0,0,1-4.8,4.8A4.8,4.8,0,0,1-34.7,8,4.8,4.8,0,0,1-29.9,3.2Zm12.8-.64A5.44,5.44,0,0,1-11.66,8a5.44,5.44,0,0,1-5.44,5.44A5.44,5.44,0,0,1-22.54,8,5.44,5.44,0,0,1-17.1,2.56Z"/>
					<animateTransform attributeName="transform" type="translate" values="23 0;36 0;49 0;62 0;74.5 0;87.5 0;100 0;113 0;125.5 0;138.5 0;151.5 0;164.5 0;178 0" calcMode="discrete" dur="1300ms" repeatCount="indefinite"/>
				</g>
			</svg>
		</div>
		<div class="container">
			<div class="row">
				<div v-if="getSingleNews" class="singleNews">
					<div class="col-xs-12">
						<p class="singleNews-title">{{ getSingleNews.title }}</p>
					</div>
					<div class="col-xs-12 singleNews-content">
						<p v-html="getSingleNews.content">{{ getSingleNews.content }}</p>
						<center>
							<img  :src="getSingleNews.image" alt="">
						</center>
						<i class="text-right">{{ getSingleNews.date }}</i>
					</div>
				</div>
			</div>
		</div>
		<news></news>
	</div>
</template>

<script>
import News from './news.vue'

export default{
	components: {
		'news' : News
	},
	data () {
		return {
			getSingleNews: null,
			getNews: [],
			id: this.$route.params.id,
			preloader: true
		}
	},
	created(){
		this.$http.get('https://vektor-k.firebaseio.com/news.json').then(function(data){
			return data.json();
			}).then(function(data){
			var newsArray = [];
		    for (let key in data) {
		    	if (key == this.id) {
		    		this.getSingleNews = data[key];
		    	}
		    	data[key].id = key;
		        newsArray.unshift(data[key]);
      		}
	      	this.getNews = newsArray;
	      	this.preloader= false;
		});
	},
	watch: {
	    '$route' (to, from) {
	      	for (let key in this.getNews) {
		    	if (this.$route.params.id == this.getNews[key].id) {
		    		this.getSingleNews = this.getNews[key];
		    		this.preloader= false;
		    		document.getElementsByTagName("html")[0].scrollTop = 0;
		    		document.getElementsByTagName("body")[0].scrollTop = 0;
		    	}
		  	}
	    }
  	}
}
</script>

<style scoped>
	.singleNews-content{
		border-left: 2px solid #3fa8b9;
    	padding-left: 15px;
    	margin-bottom: 45px;
	}
	.singleNews-title{
		color: #3fa8b9;
		font-size: 27px;
		margin-bottom: 45px;
	}
	.text-right{
		display: block;
		text-align: right;
		color: #3fa8b9;
	}
	.preloader{
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0,0,0,0.5);
	    z-index: 2;
	    left: 0;
	    top: 0;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    min-height: 500px;
	}
	@media screen and (max-width: 568px) {
		.singleNews-content{
			padding-left: 0;
			border: none;
		}
	}
</style>