<template>
  <div>
    <app-head></app-head>
    <div v-if="$auth.ready()">
        <router-view></router-view>
    </div>
    <app-footer></app-footer>
  </div>
</template>

<script>
import Header from './components/landing/header.vue'
import Footer from './components/landing/footer.vue'

export default {
  components: {
    'app-head': Header,
    'app-footer' : Footer
  },
  name: 'app',
  data () {
    return {
    
    }
  }
}
</script>

<style scoped>

</style>
