@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');
body{
	margin: 0;
	font-family: "Montserrat", sans-serif;
}
.bg-main{
	background-image: url('main-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}
.bg-services{
	background-color: #018aa1;
	padding-bottom: 50px;
}
.bg-news{
	background-color: #e2e8ed;
	padding-bottom: 50px;
	position: relative;
    min-height: 400px;
}
.bg-footer{
	background-color: #1b3e5c;
}
.slide-arrow{
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #e9f4f6;
	border: none;
	z-index: 2;
	outline: none;
}
.slide-arrow:hover{
	background-color: #b0e3ec;
	cursor: pointer;
}
.slide-arrow_right{
	right: 35px;
}
.slide-arrow_left{
	left: 35px;
}
.chevron{
	display: block;
	width: 15px;
	height: 15px;
	border-left: 3px solid #3fa8b9;
	border-bottom: 3px solid #3fa8b9;
	position: absolute;
	margin: 0 auto;
}
.chevron-right{
	transform: rotate(225deg);
	top: 16px;
	left: 12px;
}
.chevron-left{
	transform: rotate(45deg);
	top: 16px;
	left: 18px;
}
.slider-triggers{
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}
.slider-triggers li button{
	background-color: #162330;
	border: none;
	color: transparent;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: 0 3px;
	outline: none;
	cursor: pointer;
	padding: 0;
}
.slick-active button{
	background-color: #349bae !important;
}
.block-header_text-inverted{
	text-transform: uppercase;
	font-size: 40px;
	color: #fff;
}
.block-header_text{
	text-transform: uppercase;
	font-size: 40px;
	color: #349bae;
}
.custom-button{
	background: transparent;
	color: #97f6fd;
    padding: 15px 30px;
	border-radius: 2px;
    border: 1px solid #16eeff;
	text-transform: uppercase;  
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.custom-button:hover{
	color: #fff;
    border-color: #fff;
}
.m-b-4{
	margin-bottom: 20px;
}
.error{
	position: fixed;
	padding: 20px;
	border-radius: 5px;
	color: #fff;
	background-color: #e46050;
	animation: toastr 5s ease forwards;
}
.success{
	position: fixed;
	padding: 20px;
	font-weight: 500;
	color: #fff;
	background-color: #78bd5d;
	animation: toastr 5s ease forwards;
}
@keyframes toastr {
  0%   {
	top: 60px;
	right: -100%;
  }
  5%  {
  	top: 60px;
	right: 30px;
  }
  50%  {
  	top: 60px;
	right: 30px;
  }
  95%  {
  	top: 60px;
	right: 30px;
  }
  100% {
  	top: 60px;
	right: -100%;
	display: none;
  }
}
.text-right{
	display: block;
	text-align: right;
	padding-right: 15px;
}
input[type=file]{
	margin-bottom: 20px;
}
input[type=radio]{
	cursor: pointer;
}
textarea{
	box-sizing: border-box;
}
